body{ 
  height: 100vh;
  background-color: crimson;
}

#main-container {
  position: relative;
  border: 3px solid black;
  width: 400px;
  height: 400px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
}

#sky {
  background-color: lightblue;
  height: 45%;
}

#ground {
  background-color: yellowgreen;
  height: 25%;
}

#sea {
  background-color: royalblue;
  height: 30%;
}

#sun {
  position: absolute;
  top: -130px;
  right: -130px;
  font-size: 200px;
}

#threes-container {
  position: absolute;
  display: flex;
  bottom: 120px;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.three {
  font-size: 65px;
}

#ducks-container {
  position: absolute;
  display: flex;
  width: 100%;
  bottom: 40px;
  justify-content: center;
}

.duck {
  font-size: 40px;
}

@media (min-width: 700px) {
  body {
    background-color: tomato;
  }
}

@media (min-width: 900px) {
  body {
    background-color: salmon;
  }
}